.header_in{ padding: 0 2rem; }
header ul li a{
    padding: 3rem 2.5rem;
  }
  header .logo{
    left:2%;
    transform: translateX(0);
    width: 13rem;
    height: 13rem;
  }
@media screen and (min-width:768px) and ( max-width:1025px) {
  .header_in{ padding: 0 1rem; }
  header .logo{
    left:0;
    transform: translateX(0);
    width: 10rem;
    height: 10rem;
  }
  header ul li a{
    padding: 3rem 1.8rem;
  }
  header.active ul li a{
    padding: 1.5rem 2rem;
  }
  footer nav ul li a{
	padding:2rem 1rem;
	color: #fff;
}
footer ul.att li a{
	padding: 1rem 0;
	color: #fff;
}
}


.top03_in{
	margin: 0 3% 0 auto;
}
@media screen and (min-width:768px) and ( max-width:1025px) {
  .top03_in{
    margin: 0 0 0 auto;
  }
  .top03 .box{
    margin: 0.5rem 0 0;
  }
  .top03 .box .item .inner{
    padding:0 1rem;
  }
  .top03 .box .inner_in p{font-size: 1rem;}
  .top03 .box .inner_in p span{font-size: 1.2rem;}
  .top03 .box .inner_in p span.small{font-size: 0.7rem;}
  .top03 .box .item p.number{
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
  }
  .top03 .box .item h4{
    font-size: 1.5rem;
  }
  .top03 .box .item .img{
	height: 3rem;
}
.top03_in .att{
  margin: 1rem 0 0;
}

.top03 .box02 .item .txt h4 {
	font-size: 2.3rem;
  letter-spacing: 0.2rem;
}

.top03 .box02 .item .img {
  min-width: 140px;
}



@media screen and (min-width:768px) and ( max-width:1025px) {
  .price03 table th{
    padding: 0.5rem;
  }
  .price03 table tbody th{
    padding: 2rem 0.5rem;
  }
  .price03 table tbody th span{
    display: block;
  }

  .salon03 .box .img{
	width: 45%;
}
.salon03 .box .txt{
	width: 60%;
}
}